@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

header {
  background-color: #A7C7E7;
}

main {
  background-color: white;
}

.banner {
  width: 100%;
  height: 30vh;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(45, 45, 45);
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #7DF9FF;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(45, 45, 45);
}

.content h1 {
  font-size: 50px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #A7C7E7;
  background: transparent;
  color: rgb(45, 45, 45);
  cursor: pointer;
}

button:hover {
  background-color: #7DF9FF;
  border: none;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease-in-out;
}

.mySlides img {
  width: 100%;
}

.active-slide {
  display: block;
}

.button-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

