<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../css/home_style.css">
</head>
<body>
    <header>
        <div class="banner">
            <div class="navbar">
                <img src="../img/logo_trans.png" class="logo" alt="Logo">
                <ul>
                    <li><a href="admin_page.html">Home</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="homepage.html" onclick="return confirm('Are you sure you want to logout?');">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <h1>Welcome Admin</h1>
            <p>Let's get to business!</p>
            <div>
                <a href="donate.html" class="button-link">
                    <button type="button">DONATE BOOKS</button>
                </a>
                <a href="../php/donated_book.php" class="button-link">
                    <button type="button">BOOKS DONATED</button>
                </a>
                <a href="../php/sold_book.php" class="button-link">
                    <button type="button">BOOKS PURCHASED</button>
                </a>
                <a href="../php/report.php" class="button-link">
                    <button type="button">REPORT</button>
                </a>
            </div>
        </div>        
    </main>
</body>
</html>
