<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Centre</title>
    <link rel="stylesheet" href="../css/home_style.css">
</head>
<body>
<header>
        <div class="banner">
            <div class="navbar">
                <img src="../img/logo_trans.png" class="logo" alt="Logo">
                <ul>
					<li><a href="homepage.html">Home</a></li>
                    <li><a href="../views/aboutus.html">About us</a></li>
                    <li><a href="bookcentre.html">Book Centre</a></li>
					<li><a href="login.html">Admin</a></li>
                </ul>
            </div>
        </div> 
    </header>
	<main>
		<div class = "info">
		<table border = "border"><caption>List of Book Centre </caption>
			<tr style= 'background-color: #A7C7E7'>
				<th style='width:20%'>No </th>
				<th style='width:200%'>Centre </th>
			</tr>
			<tr style='background-color: white'>
				<th>1</th>
				<th align="left">
					<p><a href="viewbook.html">Book Centre Name</a></p>
					<p>Address:</p>
					<p>Contact:</p>
				</th>
			</tr>
			<?php
include("connection.php");
$sql = "SELECT * FROM book_centre";
$result = mysqli_query($conn,$sql);
if (mysqli_num_rows($result) > 0) {
// output data of each row
//Fetches a result row as an associative array
echo "<table border='1'>";
echo "<tr><th>Username</th><th>Name</th>";
echo "<th>IC</th><th>Address</th></tr>";
while($row = mysqli_fetch_assoc($result))
{
echo "<tr>"; echo "<td>".$row['centre_id']."</td>";
echo "<td>".$row['centre_name']."</td>";
echo "<td>".$row['centre_location']."</td>";
echo "<td>".$row['centre_contact']."</td>";
echo "</tr>";
}
echo "</table>";
}
else {
 echo "0 results";
}
//Freeing all memory associated with it
mysqli_free_result($result);
//Closes specified connection
mysqli_close($conn);
?>
		</table>
	</main>
	
</body>
</html>