<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Centre</title>
    <link rel="stylesheet" href="../css/home_style.css">
</head>
<body>
<header>
        <div class="banner">
            <div class="navbar">
                <img src="../img/logo_trans.png" class="logo" alt="Logo">
                <ul>
					<li><a href="homepage.html">Home</a></li>
                    <li><a href="aboutus.html">About us</a></li>
                    <li><a href="bookcentre.html">Book Centre</a></li>
					<li><a href="admin_page.html">Admin</a></li>
                </ul>
            </div>
        </div> 
    </header>
	<main>
		<div class = "info">
		<table border = "border"><caption>List of Book Centre </caption>
			<tr style= 'background-color: #A7C7E7'>
				<th style='width:20%'>No </th>
				<th style='width:200%'>Centre </th>
			</tr>
			<tr style='background-color: white'>
				<th>1</th>
				<th align="left">
					<p><a href="viewbook.php">Book Centre Name</a></p>
					<p>Address:</p>
					<p>Contact:</p>
				</th>
			</tr>
		</table>
	</main>
	
</body>
</html>