<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Page</title>
    <link rel="stylesheet" href="../css/home_style.css">
    <link rel="stylesheet" href="../css/report_style.css">
</head>
<body>
    <header>
        <div class="banner">
            <div class="navbar">
                <img src="../img/logo_trans.png" class="logo" alt="Logo">
                <ul>
                    <li><a href="admin_page.html">Home</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="center-content">
                <h1>Report Page</h1>
                <p>Search for report</p>
                <!-- Search bar added here -->
                <form action="/search" method="get">
                    <input type="text" name="query" placeholder="Enter search term">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </main>
</body>
</html>
